<div class="container">
  <h1><%= @inventory.name %></h1>
  <div>
    <%= link_to new_inventory_inventory_food_path(@inventory) do %>
      Add Food
    <% end %>
  </div>
   <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @inventory_food.freeze do |inv| %>
      <tr>
        <td><%= inv.food.name%></td>
        <td><%= inv.quantity%><%= inv.food.measurement_unit %></td>
        <td><%= button_to "Delete", inventory_inventory_food_path(inv.id), method: :delete %></td>
      </tr>
      <% end %>
    </tbody>  
  </table>
<div class="footer">
  <% @inventory_food.freeze do |inv| %>
  <%= link_to "Back to inventories", inventories_path %>
  <%= button_to "Delete", inventory_inventory_food_path(inv.id), method: :delete %>
   <% end %>
</div>
</div>
