<div class="mx-auto ">
  <section class="flex justify-center ">
    <span class="capitalize text-white bg-blue-600 rounded-lg">
      <h2 class="py-2 px-4 ">Sign up</h2>
    </span>
  </section>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field mt-3">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Username', class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>
    <div class="field mt-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'  %>
    </div>
    <div class="field mt-3">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum for password)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'  %>
    </div>
    <div class="field mt-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password Confirmation', class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'  %>
    </div>
    <div class="actions mt-3">
      <%= f.submit "Sign up", class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
