<nav class="bg-grey border-gray-200 dark:bg-gray-900">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
    <%= link_to 'Food Fusion', root_path , class:"self-center text-xl font-semibold whitespace-nowrap dark:text-white" %>
    <div class="flex items-center">
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } , class: 'text-blue-600' %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path , class: 'text-blue-600' %>
      <% end %>
    </div>
  </div>
</nav>
<% if user_signed_in? %>
  <nav class="bg-gray-50 dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto md:px-6">
      <div class="flex items-center">
        <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
          <li>
            <%= link_to 'Public Recipes', public_recipes_path , class: 'text-gray-900 dark:text-white hover:underline' %>
          </li>
          <li>
            <%= link_to 'Foods', foods_path , class: 'text-gray-900 dark:text-white hover:underline' %>
          </li>
          <li>
            <%= link_to 'Recipes', recipes_path , class: 'text-gray-900 dark:text-white hover:underline' %>
          </li>
          <li>
            <%= link_to 'Inventories', inventories_path , class: 'text-gray-900 dark:text-white hover:underline' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>
